In [1]:
import sys
sys.path.insert(0, '../')
from bibliotecas import base_estudantes, job, magalu, alunos, petrobras, sns, np, pd, plt, yf, px, go, sp, wn, quandl, date, db, geobr, gpd, os
wn.filterwarnings('ignore')
import pmdarima
from pyspark.sql import SparkSession

api para apache spark, faz processamento distribuido de big data

In [3]:
sp = SparkSession.builder.appName('DF').getOrCreate()

22/07/27 10:11:38 WARN Utils: Your hostname, luisotavio-Aspire5 resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlp0s20f3)
22/07/27 10:11:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/07/27 10:11:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
sp

In [10]:
df = sp.read.csv('Dados_TesteSpark.csv', header=True, inferSchema=True, sep=',')

In [11]:
df.printSchema()

root
 |-- Numero_01: integer (nullable = true)
 |-- Numero_02: integer (nullable = true)
 |-- Numero_03: integer (nullable = true)
 |-- Numero_04: integer (nullable = true)
 |-- Classe: integer (nullable = true)

In [12]:
df.show()

+---------+---------+---------+---------+------+
|Numero_01|Numero_02|Numero_03|Numero_04|Classe|
+---------+---------+---------+---------+------+
|      316|      706|      617|      803|     1|
|      306|      580|      452|       91|     1|
|      705|      628|        4|      665|     1|
|      303|       48|      746|      956|     2|
|       39|      489|       89|      702|     1|
|      791|      136|      974|       48|     3|
|      874|      931|      386|      963|     1|
|      723|      880|       88|      357|     2|
|      787|       81|      412|      793|     2|
|      221|      477|      568|      330|     2|
|      726|      430|      434|      632|     1|
|      146|        4|      224|       27|     3|
|      982|      140|       47|      878|     2|
|      553|      420|      184|      519|     1|
|      281|      555|      379|      862|     1|
|      396|      812|      678|      700|     3|
|      754|      635|        9|      679|     2|
|      970|      152|      191|      984|     3|
|      151|       98|      925|      262|     3|
|      691|      635|      756|       46|     2|
+---------+---------+---------+---------+------+
only showing top 20 rows

In [13]:
df.select(['Numero_01','Classe']).show()

+---------+------+
|Numero_01|Classe|
+---------+------+
|      316|     1|
|      306|     1|
|      705|     1|
|      303|     2|
|       39|     1|
|      791|     3|
|      874|     1|
|      723|     2|
|      787|     2|
|      221|     2|
|      726|     1|
|      146|     3|
|      982|     2|
|      553|     1|
|      281|     1|
|      396|     3|
|      754|     2|
|      970|     3|
|      151|     3|
|      691|     2|
+---------+------+
only showing top 20 rows

In [18]:
df.describe().show()

+-------+-----------------+-----------------+------------------+----------------+------------------+
|summary|        Numero_01|        Numero_02|         Numero_03|       Numero_04|            Classe|
+-------+-----------------+-----------------+------------------+----------------+------------------+
|  count|              100|              100|                98|             100|               100|
|   mean|           491.27|           514.68|454.66326530612247|           539.3|              2.02|
| stddev|279.5811750357013|288.2428437441197|272.47744421460413|304.324139394465|0.7518327774528889|
|    min|                8|                4|                 4|              24|                 1|
|    max|              998|              995|               974|             999|                 3|
+-------+-----------------+-----------------+------------------+----------------+------------------+

In [19]:
# criar coluna
df = df.withColumn('Nova', df['Numero_01']*3)
df.show()

+---------+---------+---------+---------+------+----+
|Numero_01|Numero_02|Numero_03|Numero_04|Classe|Nova|
+---------+---------+---------+---------+------+----+
|      316|      706|      617|      803|     1| 948|
|      306|      580|      452|       91|     1| 918|
|      705|      628|        4|      665|     1|2115|
|      303|       48|      746|      956|     2| 909|
|       39|      489|       89|      702|     1| 117|
|      791|      136|      974|       48|     3|2373|
|      874|      931|      386|      963|     1|2622|
|      723|      880|       88|      357|     2|2169|
|      787|       81|      412|      793|     2|2361|
|      221|      477|      568|      330|     2| 663|
|      726|      430|      434|      632|     1|2178|
|      146|        4|      224|       27|     3| 438|
|      982|      140|       47|      878|     2|2946|
|      553|      420|      184|      519|     1|1659|
|      281|      555|      379|      862|     1| 843|
|      396|      812|      678|      700|     3|1188|
|      754|      635|        9|      679|     2|2262|
|      970|      152|      191|      984|     3|2910|
|      151|       98|      925|      262|     3| 453|
|      691|      635|      756|       46|     2|2073|
+---------+---------+---------+---------+------+----+
only showing top 20 rows

In [20]:
df = df.drop('Numero_03')
df.show()

+---------+---------+---------+------+----+
|Numero_01|Numero_02|Numero_04|Classe|Nova|
+---------+---------+---------+------+----+
|      316|      706|      803|     1| 948|
|      306|      580|       91|     1| 918|
|      705|      628|      665|     1|2115|
|      303|       48|      956|     2| 909|
|       39|      489|      702|     1| 117|
|      791|      136|       48|     3|2373|
|      874|      931|      963|     1|2622|
|      723|      880|      357|     2|2169|
|      787|       81|      793|     2|2361|
|      221|      477|      330|     2| 663|
|      726|      430|      632|     1|2178|
|      146|        4|       27|     3| 438|
|      982|      140|      878|     2|2946|
|      553|      420|      519|     1|1659|
|      281|      555|      862|     1| 843|
|      396|      812|      700|     3|1188|
|      754|      635|      679|     2|2262|
|      970|      152|      984|     3|2910|
|      151|       98|      262|     3| 453|
|      691|      635|       46|     2|2073|
+---------+---------+---------+------+----+
only showing top 20 rows

In [21]:
df.na.drop()

DataFrame[Numero_01: int, Numero_02: int, Numero_04: int, Classe: int, Nova: int]

In [24]:
df.filter('Numero_01 > 900').show()

+---------+---------+---------+------+----+
|Numero_01|Numero_02|Numero_04|Classe|Nova|
+---------+---------+---------+------+----+
|      982|      140|      878|     2|2946|
|      970|      152|      984|     3|2910|
|      980|      924|      895|     2|2940|
|      938|      237|      830|     2|2814|
|      916|      229|      557|     3|2748|
|      968|      143|      666|     2|2904|
|      998|      856|      464|     2|2994|
|      973|      389|      389|     1|2919|
+---------+---------+---------+------+----+

In [25]:
df.groupBy('Classe').sum().show()

+------+--------------+--------------+--------------+-----------+---------+
|Classe|sum(Numero_01)|sum(Numero_02)|sum(Numero_04)|sum(Classe)|sum(Nova)|
+------+--------------+--------------+--------------+-----------+---------+
|     1|         12943|         13147|         15180|         27|    38829|
|     3|         14077|         14180|         16782|         87|    42231|
|     2|         22107|         24141|         21968|         88|    66321|
+------+--------------+--------------+--------------+-----------+---------+

In [34]:
df = df.fillna(0)

In [26]:
from pyspark.ml.feature import VectorAssembler

In [35]:
co = VectorAssembler(inputCols=['Numero_01','Numero_02'], outputCol='Corr').transform(df.select(['Numero_01','Numero_02']))

In [29]:
from pyspark.ml.stat import Correlation

In [36]:
pearson = Correlation.corr(co, 'Corr', 'pearson').collect()