In [1]:
# series eh um coluna do excel / um array unidimensional

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [4]:
a = pd.Series(['a','b','c'], index=[2,3,4])
a

2    a
3    b
4    c
dtype: object

In [5]:
type(a)

pandas.core.series.Series

In [7]:
c = pd.Series({'a':1,'b':3,'f':10})
c

a     1
b     3
f    10
dtype: int64

In [11]:
c['a']

1

In [12]:
c[0]

1

In [13]:
c.values

array([ 1,  3, 10])

In [15]:
c.idxmax() #quem teve o maior valor

'f'

In [16]:
c[c>2] #retornando os valores em c que s√£o maiores que 2

b     3
f    10
dtype: int64

In [20]:
r = pd.Series([7,8,9])

In [21]:
df = pd.concat([s,r], axis=1)
df

   0  1
0  1  7
1  2  8
2  3  9

In [23]:
df.columns=['prova 1', 'prova 2']
df

   prova 1  prova 2
0        1        7
1        2        8
2        3        9

In [27]:
df.mean()

prova 1    2.0
prova 2    8.0
media      5.0
dtype: float64

In [26]:
df['media'] = df.mean(axis=1)
df

   prova 1  prova 2  media
0        1        7    4.0
1        2        8    5.0
2        3        9    6.0