In [3]:
import datetime

In [5]:
d = datetime.date(2022,1,1)
d

datetime.date(2022, 1, 1)

In [10]:
d.strftime('%d/%m/%Y')

'01/01/2022'

In [15]:
i,j,k = ('01/01/2022'.split('/'))
i,j,k

('01', '01', '2022')

In [17]:
datetime.date('01/01/2022'.split('/')))

TypeError: an integer is required (got type tuple)

In [18]:
d+datetime.timedelta(days=5)

datetime.date(2022, 1, 6)

In [19]:
import time

In [20]:
time.strptime('01/01/2022', '%d/%m/%Y')

time.struct_time(tm_year=2022, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=1, tm_isdst=-1)

In [21]:
import statistics

In [22]:
l = [1,2,3,4,5]

In [24]:
statistics.mean(l)

3

In [25]:
nomes = ['luis','maria', 'flavio', 'paula']
for i, n in enumerate(nomes):
    print(i,n)

0 luis
1 maria
2 flavio
3 paula