In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(10)
n = 50_000

escolaridade = ['Ensino Fundamental', 'Ensino Médio', 'Ensino Superior']

data = {
    'Id': np.arange(1, n+1),
    'Idade': np.random.randint(18, 70, size = n),
    'Renda': np.random.randint(1_500, 10_000, size = n),
    'Sexo': np.random.choice(['Masculino', 'Feminino'], size = n),
    'Escolaridade': np.random.choice(escolaridade, size = n)
}

df = pd.DataFrame(data)

In [3]:
df

          Id  Idade  Renda       Sexo        Escolaridade
0          1     27   2554   Feminino  Ensino Fundamental
1          2     54   2475   Feminino     Ensino Superior
2          3     33   6820  Masculino     Ensino Superior
3          4     18   2141  Masculino        Ensino Médio
4          5     67   7381  Masculino  Ensino Fundamental
...      ...    ...    ...        ...                 ...
49995  49996     41   3102   Feminino     Ensino Superior
49996  49997     33   3906   Feminino     Ensino Superior
49997  49998     41   2543  Masculino     Ensino Superior
49998  49999     22   4651   Feminino     Ensino Superior
49999  50000     22   2131   Feminino     Ensino Superior

[50000 rows x 5 columns]

### IO (Leitura de dados)

O podemos permite que trabalhemos com distintos tipos de dados.

In [4]:
# salva o DataFrame criado no formato .csv
df.to_csv('data.csv', index = False)

In [5]:
# salva o DataFrame criado no formato xlsx
df.to_excel('data.xlsx', index = False)

In [ ]:
# lê o arquivo em csv
df_csv = pd.read_csv('data.csv')

In [ ]:
df_csv.head()

In [ ]:
# lê o arquivo em Excel
df_excel = pd.read_excel('data.xlsx')

In [ ]:
df_excel.head()

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect('clientes.db')

In [ ]:
df

Convertendo nossos dados para uma tabela SQL

In [ ]:
df.to_sql(
    name = 'clientes',  # nome da tabela SQL
    con = con,  # conexão
    index = False  # não adiciona o índice como coluna
)

In [ ]:
# consulta em SQL
query = """
SELECT * FROM clientes;
"""
pd.read_sql_query(query, con)

In [ ]:
# consulta em SQL
query = """
SELECT Idade, Renda, Escolaridade FROM clientes
WHERE sexo = 'Masculino' AND idade >= 60
ORDER BY Renda
"""
pd.read_sql_query(query, con)

In [ ]:
# consulta em SQL
query = """
SELECT AVG(Renda) AS 'RendaMédia' ,Escolaridade FROM clientes
WHERE Idade >= 30
GROUP BY Escolaridade
ORDER BY RendaMédia
"""
pd.read_sql_query(query, con)