In [1]:
import sys
sys.path.insert(0, '../')
from bibliotecas import base_estudantes, job, magalu, alunos, petrobras, sns, np, pd, plt, yf, px, go, sp, wn, quandl, date, db, geobr, gpd, os
wn.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Life Expectancy Data.csv')

In [3]:
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [4]:
df.columns.size

22

In [5]:
df.query('Country == "Brazil"')

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
352,Brazil,2015,Developing,75.0,142.0,42,NaN,0.000000,96.0,214,...,98.0,NaN,96.0,0.1,8757.262200,2596218.0,2.7,2.6,0.754,15.2
353,Brazil,2014,Developing,74.8,144.0,44,7.32,83.164654,96.0,876,...,96.0,8.32,93.0,0.1,1226.617310,24213133.0,2.7,2.7,0.747,15.2
354,Brazil,2013,Developing,74.7,146.0,46,7.24,916.270845,96.0,220,...,96.0,8.48,97.0,0.1,12216.944600,2248632.0,2.8,2.7,0.734,14.2
355,Brazil,2012,Developing,74.5,148.0,49,7.55,843.194626,96.0,2,...,96.0,8.26,95.0,0.1,12291.466850,256983.0,2.8,2.8,0.730,14.2
356,Brazil,2011,Developing,74.1,152.0,51,7.58,1084.999766,98.0,43,...,98.0,8.90,99.0,0.1,13167.472890,198686688.0,2.9,2.8,0.724,14.0
357,Brazil,2010,Developing,73.8,154.0,54,7.52,1111.191325,96.0,68,...,99.0,8.27,99.0,0.1,11224.154800,196796269.0,2.9,2.9,0.716,13.8
358,Brazil,2009,Developing,73.6,157.0,57,7.33,564.523390,99.0,0,...,99.0,8.65,99.0,0.1,8553.384700,194895996.0,3.0,2.9,0.714,13.8
359,Brazil,2008,Developing,73.4,158.0,61,7.21,526.378064,96.0,0,...,99.0,8.24,99.0,0.1,8787.613750,19297929.0,3.0,3.0,0.704,13.3
360,Brazil,2007,Developing,73.3,159.0,65,7.19,394.932130,99.0,0,...,99.0,8.28,99.0,0.1,7313.557962,19126637.0,3.1,3.0,0.700,13.5
361,Brazil,2006,Developing,73.0,161.0,70,7.10,30.303747,99.0,57,...,99.0,8.36,99.0,0.1,586.145975,18912412.0,3.1,3.1,0.698,13.8
362,Brazil,2005,Developing,72.7,163.0,75,6.97,23.763701,98.0,6,...,99.0,8.27,99.0,0.1,477.182746,186917361.0,3.2,3.1,0.694,13.8
363,Brazil,2004,Developing,72.0,17.0,81,6.85,186.609049,96.0,0,...,99.0,7.70,99.0,0.1,3623.476670,184738458.0,3.2,3.2,0.695,14.0
364,Brazil,2003,Developing,71.8,172.0,88,6.95,15.857812,97.0,2,...,99.0,6.94,99.0,0.1,359.587582,182482149.0,3.3,3.3,0.699,14.8
365,Brazil,2002,Developing,71.4,176.0,95,7.00,140.982477,92.0,1,...,99.0,7.13,99.0,0.1,2819.649531,1815121.0,3.3,3.3,0.692,14.6
366,Brazil,2001,Developing,71.0,179.0,103,7.13,149.480209,91.0,1,...,99.0,7.19,98.0,0.1,3146.951770,1777567.0,3.4,3.4,0.685,14.3
367,Brazil,2000,Developing,75.0,183.0,111,7.26,179.477729,94.0,36,...,99.0,7.30,98.0,0.1,3739.119360,175287587.0,3.4,3.4,0.677,14.1

In [6]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [8]:
df.isna().sum()>0

Country                            False
Year                               False
Status                             False
Life expectancy                     True
Adult Mortality                     True
infant deaths                      False
Alcohol                             True
percentage expenditure             False
Hepatitis B                         True
Measles                            False
 BMI                                True
under-five deaths                  False
Polio                               True
Total expenditure                   True
Diphtheria                          True
 HIV/AIDS                          False
GDP                                 True
Population                          True
 thinness  1-19 years               True
 thinness 5-9 years                 True
Income composition of resources     True
Schooling                           True
dtype: bool

In [9]:
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [10]:
df.nunique()

Country                             193
Year                                 16
Status                                2
Life expectancy                     362
Adult Mortality                     425
infant deaths                       209
Alcohol                            1076
percentage expenditure             2328
Hepatitis B                          87
Measles                             958
 BMI                                608
under-five deaths                   252
Polio                                73
Total expenditure                   818
Diphtheria                           81
 HIV/AIDS                           200
GDP                                2490
Population                         2278
 thinness  1-19 years               200
 thinness 5-9 years                 207
Income composition of resources     625
Schooling                           173
dtype: int64

In [11]:
df.Status.unique()

array(['Developing', 'Developed'], dtype=object)

In [12]:
bd = pd.pivot_table(df, index='Year')
bd

,BMI,HIV/AIDS,thinness 1-19 years,thinness 5-9 years,Adult Mortality,Alcohol,Diphtheria,GDP,Hepatitis B,Income composition of resources,Life expectancy,Measles,Polio,Population,Schooling,Total expenditure,infant deaths,percentage expenditure,under-five deaths
Year,,,,,,,,,,,,,,,,,,,
2000,34.424862,2.530055,5.147514,5.244751,181.475410,4.570714,73.627778,4708.515191,74.035294,0.512214,66.750273,4663.792350,76.277778,9.440444e+06,10.512717,5.585475,37.540984,473.850781,53.726776
2001,36.135912,2.573770,4.957459,5.055249,175.169399,4.555659,76.661111,4854.527638,73.957895,0.563012,67.128962,4640.262295,77.950000,1.007057e+07,10.950289,5.599609,36.825137,516.625910,52.038251
2002,37.110497,2.573770,5.166298,5.118232,171.437158,4.660934,78.883978,4599.303043,76.522124,0.568006,67.351366,3204.754098,79.679558,6.625328e+06,11.140462,5.687989,35.584699,476.794487,50.300546
2003,36.440331,2.546995,4.924309,5.023757,169.131148,4.690495,78.867403,4774.835677,74.099237,0.572399,67.433333,3708.792350,80.353591,1.015988e+07,11.308092,5.827444,34.874317,494.706547,48.584699
2004,36.572376,2.478689,4.936464,5.029282,186.262295,4.753681,79.823204,7055.889709,77.985507,0.584168,67.646448,2805.497268,80.165746,1.685299e+07,11.547399,5.859111,33.644809,772.336156,47.092896
2005,35.607735,2.345902,5.099448,5.195580,167.633880,4.846409,81.674033,7249.787557,80.911565,0.596445,68.209290,3200.551913,80.972376,1.828185e+07,11.675723,5.920722,32.366120,823.318110,45.306011
2006,37.534254,2.169399,5.115470,5.157459,170.404372,4.917692,82.236264,7347.033143,81.894040,0.632312,68.667760,2063.224044,84.527473,1.536564e+07,11.917919,5.699000,31.808743,828.776319,44.273224
2007,36.977901,1.992896,5.034807,4.976243,159.808743,5.014066,84.318681,8537.243114,81.584906,0.639000,69.036066,1557.540984,84.802198,1.853530e+07,12.038150,5.631056,30.612022,954.458468,42.732240
2008,38.225414,1.797268,4.907182,4.941436,174.519126,5.007088,84.857143,10604.040364,83.644172,0.645717,69.427869,1523.229508,85.565934,9.487742e+06,12.176301,5.723056,29.568306,1095.802669,41.322404
2009,39.583425,1.538798,4.786740,4.718232,163.393443,4.889231,85.060440,7060.615022,84.277108,0.651434,69.938251,1522.606557,85.329670,9.132068e+06,12.310983,6.528389,28.956284,719.827424,39.770492
2010,38.513812,1.273770,4.659116,4.639779,161.863388,4.943626,82.741758,7464.487887,80.732143,0.655197,70.048634,1878.721311,83.890110,1.181332e+07,12.446821,6.151222,27.928962,768.221388,38.546448
2011,39.849724,1.092896,4.594475,4.568508,156.535519,4.871648,87.087432,9685.908944,84.041176,0.674555,70.654098,1963.562842,84.442623,1.129574e+07,12.604624,5.974056,26.830601,1029.534746,36.918033
2012,40.099448,0.926776,4.584530,4.598895,148.792350,4.138187,85.907104,10378.875046,82.635294,0.679572,70.916940,1244.382514,83.939891,1.252438e+07,12.724277,6.251271,26.338798,1011.471726,35.562842
2013,42.111640,0.744560,4.470370,4.425397,148.765027,3.924450,86.207254,8152.675657,83.148352,0.685648,71.236066,1455.150259,84.642487,1.235609e+07,12.688333,6.385026,23.968912,836.623984,32.419689
2014,41.030939,0.681967,4.532597,4.676243,148.688525,3.271319,84.081967,10015.568494,83.115607,0.688393,71.536612,1831.207650,84.726776,2.106296e+07,12.887283,6.200994,24.557377,1001.912550,32.890710
2015,42.754144,0.660656,4.534807,4.575691,152.863388,5.288333,84.633880,7185.331746,82.425287,0.691740,71.616940,1502.901639,83.207650,1.109741e+07,12.927168,7.080000,23.803279,2.383906,31.612022

In [13]:
iqr = df['Life expectancy '].quantile(0.75) - df['Life expectancy '].quantile(0.25)

outlier = df['Life expectancy '].quantile(0.25) - (1.5 * iqr)

(df['Life expectancy '] <= outlier).sum() #quantidade de outliers inferior

10

In [14]:
df.rename(columns= lambda x: x.strip(), inplace=True)

In [15]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [16]:
df.Year = pd.to_datetime(df.Year, format='%Y')

In [17]:
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015-01-01,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014-01-01,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013-01-01,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012-01-01,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011-01-01,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004-01-01,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003-01-01,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002-01-01,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001-01-01,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000-01-01,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [19]:
numerico = df.select_dtypes(include=[int, float]).columns.to_list()
numerico

['Life expectancy',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles',
 'BMI',
 'under-five deaths',
 'Polio',
 'Total expenditure',
 'Diphtheria',
 'HIV/AIDS',
 'GDP',
 'Population',
 'thinness  1-19 years',
 'thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

In [21]:
categorico = df.select_dtypes(include=[object]).columns.to_list()
categorico

['Country', 'Status']

In [27]:
df['Country'].replace({'United Kingdom of Great Britain and Northern Ireland':'United Kingdom', 'Micronesia (Federated States of)':'Micronesia', 
'Venezuela (Bolivarian Republic of)':'Venezuela', 'Iran (Islamic Republic of)':'Iran', 'Bolivia (Plurinational State of)':'Bolivia'}, inplace=True)

In [28]:
df['Country'].unique().tolist()

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 "Côte d'Ivoire",
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'The former Yugoslav republic of Macedonia',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [29]:
df.Status.replace({'Developing': 'Desenvolvendo', 'Developed':'Desenvolvido'}, inplace=True)

In [30]:
df = df.dropna()